<!DOCTYPE html>
<html>
<head>
  <title>Sss gravatar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "sss_gravatar/application", media: "all" %>
  <%= javascript_include_tag "sss_gravatar/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
