<% content_for :account_sidebar do %>
  <%= render partial: 'spree/account/shared/account_sidebar', locals: {current: :account} %>
<% end %>

<% content_for :account_title do %>
  <%= Spree.t(:user_profile) %>
<% end %>

<div data-hook="account_summary" class="account-summary well">
  <dl id="user-info">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <dt><%= Spree.t(:email) %></dt>
        <dd><%= @user.email %>
            <%= link_to spree.edit_account_user_path(goto: "passwd"), class: "btn btn-primary btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end if can? :edit, @user %>
        </dd>
        <br />
        <dt><%= Spree.t(:avatar) %></dt>
        <dd><%= image_tag avatar_url(@user), size: 128 %>
          <%= link_to spree.avatar_account_user_path, class: "btn btn-primary btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end if can? :avatar, @user %>
        </dd>
      </div>
      <div class="col-sm-12 col-md-6">
        <dt><%= Spree.t(:user_name) %></dt>
        <dd><%= @user_name %>
            <%= link_to spree.edit_account_user_path(goto: "name"), class: "btn btn-primary btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end if can? :edit, @user %>
        </dd>
        <br />      
        <dt><%= Spree.t(:credit_balance, scope: [:store_credits])%></dt>
        <dd>
          <%= Spree::Money.new(spree_current_user.total_available_store_credit, currency: Spree::Config[:currency]) %>
        </dd>
      </div>
    </div>
  </dl>
</div>