<div class="container account-page">

  <h3 class="text-uppercase spree-mb-large spree-mt-large spree-header" >
    <%= Spree.t('edit_picture') %></h3>

  <div class="row">
    <div class="col-12 col-lg-6 d-block text-center">
      <div class="mb-3">
        <%= Spree.t(:user_avatar) %>
      </div>
      <% @user.avatar.attached? ? url = main_app.url_for(@user.avatar) : url = "spree_avatar/person.svg" %>
      <%= image_tag(url, id: "user-avatar-preview", size: 256) %>
    </div>
    
    <div class="col-12 col-lg-6">
      <div class="user-avatar-form">
        <%= form_for @user, url: user_avatar_url, method: :put do |f| %>
          <div class="form-group">
            <%= f.label :avatar, Spree.t(:filename) %>
            <%= f.file_field :avatar, id: "user-avatar-file" %>
          </div>
          <%= f.submit Spree.t(:update), class: 'btn btn-primary btn-block spree-btn mb-5' %>
        <% end if can? :avatar, @user  %>
      </div>
    </div>
  </div>

</div>