<div class="container account-page">

  <h3 class="text-uppercase spree-mb-large spree-mt-large spree-header" >
    <%= Spree.t('edit_picture') %></h3>

  <div class="row">
    <div class="col-12 col-lg-6 d-block text-center">
      <div class="mb-3">
        <%= Spree.t(:user_picture) %>
      </div>
      <% if @user.picture.attached?
        url = main_app.url_for(@user.picture)
        pikclass = ""
      else
        url = "isell_avatar/person.svg"
        pikclass = "no-user-picture"
      end %>
      <%= image_tag(url, id: "user-picture-preview", class: pikclass, size: 256) %>
    </div>
    
    <div class="col-12 col-lg-6">
      <div class="user-picture-form">
        <%= form_for @user, url: user_picture_url, method: :put do |f| %>
          <div class="form-group">
            <%= f.label :picture, Spree.t(:filename) %>
            <%= f.file_field :picture, id: "user-picture-file" %>
          </div>
          <%= f.submit Spree.t(:update), class: 'btn btn-primary btn-block spree-btn mb-5' %>
        <% end if can? :picture, @user  %>
      </div>
    </div>
  </div>

</div>