<% if @user.avatar.attached?
    url = main_app.url_for(@user.avatar)
    image = image_tag(url, size: 150)
  else
    url = "spree_avatar/person.svg"
    image = image_tag(url, class: "no-user-avatar", size: 150)
  end %>

<div class="col-xs-12 col-lg-4" data-hook="account-avatar">
  <div class="d-block text-center mb-3">
    <%= Spree.t(:user_avatar) %>
  </div>
  <div class="text-center">
    <%= link_to image, spree.user_edit_avatar_path(@user), class: "edit-avatar-link" %>
    <% if @user.avatar.attached? %>
      <div class="delete-avatar-button js-delete-avatar-button" data-avatar="<%= spree.user_delete_avatar_path(@user) %>">
        <%= inline_svg_tag 'garbage_2.svg' %>
      </div>
    <% end %>
  </div>
  <% if @user.avatar.attached? %>
    <div>
      <%= fields_for @user do |form| %>
        <%= form.check_box :use_avatar_icon %>
        <%= form.label :use_avatar_icon, "Use avatar_icon" %>
      <% end %>


    </div>
  <% end %>
</div>

<div id="delete-avatar-popup" class="delete-address-popup-dropdown hide-on-esc">
  <%= render 'spree/shared/delete_avatar_popup' %>
</div>